# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('proj1').getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [2]:
df = spark.read.csv('walmart_stock.csv', header=True, inferSchema = True)

#### What are the column names?

In [4]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [5]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [7]:
df.head(5)

[Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

In [10]:
for row in df.head(5):
    print(row)
    print('')

Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)

Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)

Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)

Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)

Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

#### Use describe() to learn about the DataFrame.

In [12]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [13]:
# first have a look at the schema
df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [16]:
# cast string to float
from pyspark.sql.functions import format_number

result = df.describe()
result.select(result['summary'], format_number(result['Open'].cast('float'),2).alias('Open')).show()

+-------+--------+
|summary|    Open|
+-------+--------+
|  count|1,258.00|
|   mean|   72.36|
| stddev|    6.77|
|    min|   56.39|
|    max|   90.80|
+-------+--------+

In [20]:
result.select(result['summary'], 
              format_number(result['Open'].cast('float'),2).alias('Open'),
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              format_number(result['Volume'].cast('float'),2).alias('Volume'),
              format_number(result['Adj Close'].cast('float'),2).alias('Adj Close')
              ).show()

+-------+--------+--------+--------+--------+-------------+---------+
|summary|    Open|    High|     Low|   Close|       Volume|Adj Close|
+-------+--------+--------+--------+--------+-------------+---------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|     1,258.00| 1,258.00|
|   mean|   72.36|   72.84|   71.92|   72.39| 8,222,093.50|    67.24|
| stddev|    6.77|    6.77|    6.74|    6.76| 4,519,781.00|     6.72|
|    min|   56.39|   57.06|   56.30|   56.42| 2,094,900.00|    50.36|
|    max|   90.80|   90.97|   89.25|   90.47|80,898,096.00|    84.91|
+-------+--------+--------+--------+--------+-------------+---------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [22]:
df2 = df.withColumn('HV_Ratio',df['High']/df['Volume'])
df2.select(['HV_Ratio']).show(5)

+--------------------+
|            HV_Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
+--------------------+
only showing top 5 rows

#### What day had the Peak High in Price?

In [25]:
df.orderBy(df['High'].desc()).show(5)

+-------------------+-----------------+-----------------+---------+---------+--------+-----------------+
|               Date|             Open|             High|      Low|    Close|  Volume|        Adj Close|
+-------------------+-----------------+-----------------+---------+---------+--------+-----------------+
|2015-01-13 00:00:00|        90.800003|        90.970001|    88.93|89.309998| 8215400|        83.825448|
|2015-01-08 00:00:00|        89.209999|90.66999799999999|    89.07|90.470001|12713600|84.91421600000001|
|2015-01-09 00:00:00|            90.32|        90.389999|    89.25|89.349998| 8522500|        83.862993|
|2015-01-12 00:00:00|        89.360001|        90.309998|89.220001|90.019997| 7372500|        84.491846|
|2015-01-23 00:00:00|88.41999799999999|        89.260002|87.889999|88.510002| 7565800|83.07458100000001|
+-------------------+-----------------+-----------------+---------+---------+--------+-----------------+
only showing top 5 rows

In [33]:
df.orderBy(df['High'].desc()).head(1)[0]['Date']

datetime.datetime(2015, 1, 13, 0, 0)

#### What is the mean of the Close column?

In [36]:
from pyspark.sql.functions import mean
df.select(mean(df['Close']).alias('avg_close')).show()

+-----------------+
|        avg_close|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [42]:
from pyspark.sql.functions import max, min

In [47]:
# df.select(max("Volume"),min("Volume")).show()
df.select(max(df['Volume']).alias('max_volume'), min(df['Volume']).alias('min_volume')).show()

+----------+----------+
|max_volume|min_volume|
+----------+----------+
|  80898100|   2094900|
+----------+----------+

#### How many days was the Close lower than 60 dollars?

In [54]:
# df.filter("Close < 60").count()
# df.filter(df["Close"] < 60).count()
df.where(df["Close"] < 60).count()

81

In [55]:
from pyspark.sql.functions import count
result = df.filter('Close<60')
result.select(count('Close')).show()

+------------+
|count(Close)|
+------------+
|          81|
+------------+

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [58]:
(df.filter(df['High']>80).count()/df.count()) * 100

9.141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [59]:
from pyspark.sql.functions import corr
df.select(corr('High', 'Volume')).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [65]:
from pyspark.sql.functions import year
df_year = df.withColumn('Year', year(df['Date']))
df_year.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+----+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|Year|
+-------------------+------------------+---------+---------+------------------+--------+------------------+----+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|2012|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|2012|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|2012|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|2012|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|2012|
+-------------------+------------------+---------+---------+------------------+--------+------------------+----+
only showing top 5 rows

In [67]:
df_year.groupBy('Year').max('High').show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [79]:
from pyspark.sql.functions import month, mean, format_number
df_month = df.withColumn('Month', month(df['Date']))
df_month.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+-----+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|Month|
+-------------------+------------------+---------+---------+------------------+--------+------------------+-----+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|    1|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|    1|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|    1|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|    1|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|    1|
+-------------------+------------------+---------+---------+------------------+--------+------------------+-----+
only showing top 5 rows

In [76]:
df_month.groupBy('Month').mean('Close').show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|   12|72.84792478301885|
|    1|71.44801958415842|
|    6| 72.4953774245283|
|    3|71.77794377570092|
|    5|72.30971688679247|
|    9|72.18411785294116|
|    4|72.97361900952382|
|    8|73.02981855454546|
|    7|74.43971943925233|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|    2|  71.306804443299|
+-----+-----------------+

In [83]:
df_avgmonth = df_month.select("Month","Close").groupBy("Month").mean()
df_avgmonth.select("Month",format_number(df_avgmonth['avg(Close)'], 2).alias('svg_close')).show()

+-----+---------+
|Month|svg_close|
+-----+---------+
|   12|    72.85|
|    1|    71.45|
|    6|    72.50|
|    3|    71.78|
|    5|    72.31|
|    9|    72.18|
|    4|    72.97|
|    8|    73.03|
|    7|    74.44|
|   10|    71.58|
|   11|    72.11|
|    2|    71.31|
+-----+---------+

# Great Job!